.bgRandomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: Roboto;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
}

.randomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 53vh;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 2px 7px 5px #e4ebf3;
  background-color: #ffffff;
}

.heading {
  font-weight: 600;
  font-size: 28px;
  color: #0b69ff;
}

.paraStl {
  color: #333333;
  font-size: 17px;
  text-align: center;
}

.btnStl {
  background-color: #0b69ff;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.countSlt {
  font-size: 40px;
  font-weight: 600;
  color: #0b69ff;
}
